/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $blue.darken-2
  accent: $blue.accent-2
  secondary: $blue.darken-3
  info: $blue.base
  warning: $blue.base
  error: $blue.base
  success: $blue.base
}


@import '../../node_modules/vuetify/src/stylus/main'
